{% extends 'base.html' %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h2>Envie a sua carta!</h2>
        <div class="desktop-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert success">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="." novalidate method="post">
                {% csrf_token %}
                {{ message.non_field_errors }}
                <div class="form-row label-block input-text">
                    <label for="{{ message.sender.id_for_label }}">{{ message.sender.label }}</label>
                    {{ message.sender.errors }}
                    {{ message.sender }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ message.receiver.id_for_label }}">{{ message.receiver.label }}</label>
                    {{ message.receiver.errors }}
                    {{ message.receiver }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ message.email.id_for_label }}">{{ message.email.label }}</label>
                    {{ message.email.errors }}
                    {{ message.email }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ message.content.id_for_label }}">{{ message.content.label }}</label>
                    {{ message.content.errors }}
                    {{ message.content }}
                </div>
                <p class="btn-row"><input type="submit" value="Enviar!"/></p>
            </form>
        </div>
    </div>
</section>
{% endblock content %}