<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <p>Oi, {{ receiver }}!
        <p>Você recebeu um correio de {{ sender }}:</p>
        <p>"{{ content|safe }}"</p>
        <p>Não se esqueça de visitar o <a href="https://correioelegante-raficfarah.herokuapp.com/"> nosso site!</a></p>
        <p>---</p>
        <p>Site feito por Rafic Farah.</p>
        <p>Para acessar meu GitHub, <a href="https://github.com/raficfarah">clique aqui!</a></p>
        <p>Para acessar meu LinkedIn, <a href="https://www.linkedin.com/in/rafic-farah/">clique aqui!</a></p>
    </div>
</body>
</html>