asgiref==3.4.1
autopep8==1.5.7
beautifulsoup4==4.9.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.6
django-ckeditor==6.1.0
django-js-asset==1.2.2
django-test-without-migrations==0.6
pycodestyle==2.7.0
python-decouple==3.4
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
static3==0.7.0
toml==0.10.2
